.banner {
    height: 450px;
    background-image: url("../img/car1.png");
    background-size: 650px;
    background-repeat: no-repeat;
    background-position: 400px 50px;    
    background-color: rgb(41, 41, 41);
}
 
.logo {
    height: 200px;
}